POSTGRES_PASSWORD=""
COINMARKETCAP_API_KEY=""
EXHANGE_RATES_API_KEY=""

KAFKA_HOST="localhost"
KAFKA_PORT=9092
KAFKA_CONSUMER_GROUP="coin_group"
KAFKA_TOPIC="coin_topic"

POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_USER="postgres"
POSTGRES_DB="coin_data"

POSTGRES_TABLE_EXCHANGE_RATES="exchange_rates"
POSTGRES_TABLE_COIN_DATA="crypto_data"

COINMARKETCAP_SYMBOLS="XRP,TRX"
EXCHANGE_RATES_BASE="EUR"
EXCHANGE_RATE_SYMBOLS="DKK,NOK,SEK"

UPDATE_FREQ_SEC=60